# Caddy Server
CADDY_DNS_EMAIL="CHANGE_ME"
CADDY_DOMAIN="CHANGE_ME"
CADDY_SUBDOMAIN="CHANGE_ME"

# CF DNS
CF_AUTH_TOKEN="CHANGE_ME"

# netdata
NETDATA_CLAIM_URL="CHANGE_ME"
NETDATA_CLAIM_TOKEN="CHANGE_ME"
NETDATA_CLAIM_ROOMS="CHANGE_ME"
