{
	email {env.CADDY_DNS_EMAIL}
	acme_dns cloudflare {env.CF_AUTH_TOKEN}
}

{$NETDATA_SUBDOMAIN}.{$CADDY_DOMAIN} {
	encode gzip

	reverse_proxy host.docker.internal:19999
}

{$DOH_SUBDOMAIN}.{$CADDY_DOMAIN} {
	reverse_proxy /dns-query blocky:4000
}

http://localhost:80 {
	respond /caddy-health-check 200
}
